@import "fonts";

.container {
  max-width: 1480px !important;
}

main {
  max-width: 1480px;
  margin: auto;
  padding: 40px 0;
}

.clear {
  clear: both;
  display: block;
}

.wrap {
  margin: auto;
  padding: 0 10px;
  max-width: 1860px;
}

h1, .h1 {
  font-family: $primary_font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

h2, .h2 {
  font-family: $text_font;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

h3, .h3 {
  font-family: $primary_font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.03em;
}

h4, .h4 {
  font-family: $primary_font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #222222;
}

h5, .h5 {
  font-family: $secondary_font;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #222222;
}

p {
  font-family: $text_font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.btn {
  padding: 24px 24px;
  color: #ffffff;
  font-family: $primary_font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background: #1B3B90;
  border-radius: 4px;

  &:hover {
    background: #506EBE;
  }
}

.arrow-link {
  max-width: 250px;
  display: block;
  position: relative;

  &:after {
    content: "";
    background: url('assets/images/arrow.svg') 100% no-repeat;
    display: inline-block;
    width: 30px;
    right: 20px;
    top: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
  }
}

.more {
  font-family: $primary_font;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #222222;

  &:after {
    content: "";
    background: url('assets/images/arrow.svg') 100% no-repeat;
    display: inline-block;
    width: 30px;
    height: 12px;
    transform: translate(10px, 0px);
  }
}

.input {
  font-family: $secondary_font;
  border: none;
  width: auto;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  background: #FFFFFF;
  border-radius: 4px 0 0 4px;
  padding: 15px;
  text-transform: none;
}

input::placeholder {
  font-family: $text_font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #AAAAAA;
}

.page-header {
  text-align: center;
  margin: auto;
  padding: 30px 10px;
  max-width: 1860px;

  h1 {
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #222222;
  }

}

.post-container {
  margin-top: 20px;
  margin-bottom: 50px;
  overflow: hidden;

  article {
    padding: 30px 0;
    transition: .5s;
    &:hover {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.1);
      margin: 0 -15px;
      padding: 30px 15px;
      transition: .5s;
    }
  }

  .content {
    display: inline-block;
    width: 78%;
    vertical-align: top;
    position: relative;
  }

}

.tvarumas {

  .column-block-3 {

    .column-1 {
      width: 35%;
    }

    .column-2 {
      width: 65%;

      .content {
        max-width: none;
      }

      .logos-wrapper {
        width: 45%;
        vertical-align: top;

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-top: 40px;

          li {
            display: block;
            padding: 20px 9px;
            margin: auto 0;
            min-width: 25%;

            img {
              transform: none;
            }
          }
        }
      }

      .text-wrapper {
        width: 38%;
      }

      .text-wrapper, .logos-wrapper {
        display: inline-block;
      }

      p {
        max-width: 400px;
      }

    }

  }

  .column-block {

    .content {
      width: 100%;
      max-width: 500px;
    }

    .text {
      width: 100%;
      max-width: 500px;
    }

  }

}

.phone::before {
  content: "";
  background: url('assets/images/phone.svg') 100% no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  transform: translate(0px, -1px);
}

.mail::before {
  content: "";
  background: url('assets/images/mail.svg') 100% no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}

footer {
  background: #05194B;
  position: relative;
  overflow-y: hidden;
  max-width: 1860px;
  margin: auto;

  .wrap {
    max-width: 1200px;
    padding: 0;
  }

  .info-links p:hover {
    color: #ffffff;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 70px 0 50px 0;
    width: 100%;
    overflow: hidden;
    z-index: 10;

    li {
      z-index: 10;
    }

    ul {
      display: block;
      flex-wrap: wrap;
      padding: 0;
      z-index: 10;
      margin-left: 5px;

      li {
        display: block;
        width: auto;
        padding: 0;
        z-index: 10;
        max-width: 170px;
        margin: 0;
      }
    }
  }

  a {
    color: #D6E1F4;
  }

  h4 {
    font-family: $primary_font;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BBBBBB !important;
    max-width: 133px;
  }

  .socials {
    display: block;

    li {
      position: relative;
      width: 35px;
      margin-bottom: 20px;

      &:hover img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(156deg) brightness(103%) contrast(103%);
      }
    }
  }

  .copyright {
    max-width: 160px;
    margin-top: 10px !important;
  }

  .menu {
    a {
      font-family: $primary_font;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #D6E1F4;
      padding: 5px 0;
      margin-bottom: 4px;
    }

    li {
      margin: 0 !important;
    }
  }

  .contacts {
    a {
      padding: 0 0 6px 0;
    }

    a:last-child {
      padding: 16px 0 0 0;
    }
  }

  p {
    font-family: $text_font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -0.01em;
    color: #B4C5E7;
    padding: 2px 0;
    margin: 0;
  }

  .address {
    max-width: 115px;
    white-space: pre-wrap;
  }

  a {
    display: block;
    font-family: $text_font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -0.01em;
    color: #B4C5E7;

    &:hover {
      color: #ffffff;
    }
  }

  strong {
    font-size: 16px;
    color: #D6E1F4;

    &:hover {
      color: #ffffff;
    }
  }

  .information {

    p:first-child {
      margin: 0;
    }

    p {
      margin: -5px 0;
    }

  }

  .mail:hover::before,
  .phone:hover::before {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(132deg) brightness(105%) contrast(101%);
  }

  .phone::before {
    content: "";
    filter: invert(87%) sepia(3%) saturate(2309%) hue-rotate(191deg) brightness(105%) contrast(91%);
    margin-right: 5px;
    transform: translate(0px, 3px);
  }

  .mail::before {
    content: "";
    filter: invert(87%) sepia(3%) saturate(2309%) hue-rotate(191deg) brightness(105%) contrast(91%);
    margin-right: 5px;
    transform: translate(0px, 6px);
  }

  .cp {
    a {
      display: block;
    }

    &:hover img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(132deg) brightness(105%) contrast(101%);
    }
  }

}

.inner {

  p, td, li {
    font-family: $text_font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -0.01em;
    color: #555555;
  }

  h2 {
    margin-bottom: 40px;
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #222222;
  }

}

.navigation-open {
  display: block !important;
}

.mobile-navigation {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  bottom: 0;
  z-index: 1000;
  background: #05194B;

  img {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .close-menu {
    background: url('assets/images/times.svg') 100% no-repeat;
    display: block;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 10000;
  }

  .mobile-contacts {
    position: absolute;
    bottom: 40px;

    a {
      display: block;
      font-family: $text_font;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: -0.01em;
      color: #B4C5E7;

      &::before {
        filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(6deg) brightness(106%) contrast(101%);
      }
    }

  }

  .mobile-content {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: auto;
    padding: 30vh 10px;
    max-width: 360px;
  }

  .primary-menu {
    position: relative;
  }

  .menu {
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 0;
    list-style: none;
    padding: 0;

    li {
      text-align: center;
    }

    a {
      font-family: $primary_font;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 200%;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }


}

.post-content {
  max-width: 890px;

  .wp-block-image {
    margin: 0 0 10px 0;
  }

  .blocks-gallery-grid {
    padding: 20px 0;
  }

  .blocks-gallery-item {
    margin: 8px 0 !important;

    &::before {
      content: none !important;
    }
  }

  p {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #777777;
  }

  p img {
    float: left;
    margin: 0 10px 0 0;
  }

  article img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  h2:first-child {
    padding: 0 0 30px 0;
  }

  h2 {
    padding: 30px 0;
    font-size: 22px;
    margin: 0;
  }

  h3 {
    padding: 15px 0;
    font-size: 18px;
    margin: 0;
  }

  h4 {
    margin: 15px 0 5px 0;
    font-size: 16px;
  }

  ol[start] {
    padding: 0 0 0 35px;
  }

  ol[start] li::before {
    font-size: 36px;
    line-height: 120%;
    width: 32px;
    position: absolute;
    left: 0;
  }

  ol {
    padding: 0 5px;
    list-style: none;
    position: relative;
    counter-reset: li;

    li {
      counter-increment: li;

      &::before {
        content: counter(li) ". ";
        color: #F3C44C;
        font-weight: bold;
        width: 20px;
        display: inline-block;
      }
    }
  }

  ul li, ol li {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #777777;
  }

  ul {
    padding: 0 5px;

    li {
      list-style: none;
      position: relative;
      padding: 0 0 0 15px;

      &::before {
        content: '\2022';
        color: #F3C44C;
        font-weight: bold;
        display: inline-block;
        position: absolute;
        left: 0;
        height: 20px;
        width: 26px;
        font-size: 18px;
      }

    }
  }

  .wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
    background-color: #00cff20f;
  }

  .wp-block-table {
    margin: 0;

    thead {
      border-bottom: 2px solid #F0F0F0;
    }

    th, td {
      padding: 10px 15px;
    }
  }

}

.inner {
  position: relative;
  z-index: 1;
  max-width: 1860px;
  width: auto;
  margin: auto;
}

.paslaugos {
  .carousel .carousel-slide {
    .wrap-content, .text {
      max-width: 630px !important;
    }
  }
}

.inner-page {

  .carousel .wrap {
    transform: translate(0, -100%);
  }

  .carousel-block {
    margin: 10px 0;
  }

  .carousel .slide-background::after {
    content: "";
    background: linear-gradient(103.83deg, #000E34 19.94%, rgba(0, 14, 52, 0) 100%);
    opacity: 0.6;
  }

  .carousel .carousel-slide {
    height: 100%;
    min-height: 780px;
    max-height: unset;
    background-position-y: center;

    .slider-title {
      max-width: 630px;
    }

    .wrap-content, .text {
      max-width: 790px;
      margin-bottom: 40px !important;
    }

    .wrap {
      max-width: 1280px;
    }

    p {
      font-size: 18px;
    }

    .slider-title {
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 120%;
      letter-spacing: -0.02em;
      margin-bottom: 40px;
      white-space: pre-wrap;
    }

  }

}

.page-header {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.header-image {
  height: 300px;
  padding: 70px 0;
  width: 100%;
  background-repeat: no-repeat;

  h1, ul {
    text-align: center;
    color: #ffffff;
  }

}

.column-1 {
  width: 25%;
  padding: 0 15px;
}

.column-2 {
  width: 75%;
  padding: 0 5px;
}

.column-full {
  width: 100%;
  margin-top: 40px;
  padding: 0 15px;
}

.page-sidebar {

  .current {
    color: #F3C44C !important;

    &:before {
      content: "";
      background: url('assets/images/arrow-short.svg') 100% no-repeat;
      height: 15px;
      width: 10px;
      position: absolute;
      transform: translate(-15px, 4px);
      display: inline-block;
    }

  }

  .level-1 {
    background: #F0F0F0;
    padding: 30px 10px 30px 50px;

    a {
      color: #000000;
      font-family: $primary_font;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      &:hover {
        color: #F3C44C;
      }
    }
  }

  .level-2 {
    padding-left: 30px;

    li {
      padding: 11px 0;
    }

    a {
      color: #000000;
      font-family: $secondary_font;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      text-transform: none;
      letter-spacing: -0.01em;
    }

    &:hover {
      color: #F3C44C;
    }

  }

  .level-3 {
    padding-left: 40px;

    li {
      padding: 11px 0;
    }

    a {
      color: #000000;
      font-family: $secondary_font;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      text-transform: none;
      letter-spacing: -0.01em;
    }

    &:hover {
      color: #00CFF2;
    }

  }

  li {
    list-style: none;
    padding: 8px 0;
  }

}

.wpcf7-list-item-label {
  display: inline-block;
}

.breadcrumbs {
  padding: 0;

  li {
    display: inline-block;
    list-style: none;
    padding: 0 10px 0 0;
    vertical-align: middle;

    &:after {
      content: "";
      border: solid #b4c5e7;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 2px;
      transform: rotate(-45deg) translate(0px, -1px);
      -webkit-transform: rotate(-45deg) translate(4px, 2px);
      position: relative;
    }

    a {
      font-family: $text_font;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #222222;
    }

    &:last-child a {
      color: #b4c5e7;
      user-select: none;
      pointer-events: none;
    }

    &:last-child:after {
      content: none !important;
    }

  }
}

.pagination {
  text-align: center;
  padding: 10px 0;
  background: #DDDDDD;
  margin: 10px 5px;

  ul {
    list-style: none;
    display: block;

    li {
      display: inline-block;
    }
  }

  .page-numbers {
    position: relative;
    display: inline-block;
    padding: 12px 10px;
    font-family: $secondary_font;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    margin: 0;
  }

  .next:after {
    content: "";
    background: url(assets/images/arrow.svg) 100% no-repeat;
    height: 10px;
    margin: auto;
    width: 32px;
    display: inline-block;
    position: relative;
  }

  .current {
    color: #47ACE5;
  }

}

.closed {
  display: none;
}

.contact-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000;

  .modal-content {
    top: 8vh;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    margin: 0 auto;
    max-width: 400px;
    max-height: 750px;
    overflow: hidden;
    background: #42843E;
    position: absolute;
    z-index: 10000000;
  }

  .modal-body {
    padding: 50px 20px 0 20px;

    label {
      display: block;
      margin: 8px 0;
    }

    input, textarea {
      font-family: $secondary_font;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      background: #1d7c112e;
      color: #ffffff;
      padding: 10px;
      border: 1px solid #E0E0E0;
      box-sizing: border-box;
      border-radius: 4px;
      width: 100%;

      &::placeholder {
        color: #ffffff;
        font-family: $secondary_font;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        text-decoration: none !important;
        text-transform: none !important;
      }
    }

    a {
      color: #222222;
    }

    span.wpcf7-list-item {
      margin: 0;
    }

    input[type="checkbox"]:after {
      opacity: 1;
    }

    input[type="checkbox"] {
      width: unset;
    }

    div.wpcf7-response-output {
      border: none;
      padding: 10px 0;
      margin: 0;
      font-family: $secondary_font;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: #ffffff;
    }

    input[type="submit"] {
      background: #222222;
      border-radius: 4px;
      padding: 12px 30px;
      text-align: center;
      font-family: $primary_font;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 140%;
      color: #FFFFFF;
      width: 100%;
    }
  }

  span.wpcf7-not-valid-tip, .wpcf7-list-item-label {
    color: #ffffff;
  }

  .modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    font-weight: bolder;
    font-family: monospace;
    font-size: 23px;
    cursor: pointer;
  }

  .modal-back {
    position: absolute;
    background: #1e1e1e;
    opacity: .8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

}

input[type="radio"] {
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: transparent;

  &:checked {
    background-color: #2196F3;

    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 8px;
      height: 8px;
      top: -12px;
      left: 2.1px;
      border-radius: 50%;
      background: #FFFFFF;
      z-index: 100;
    }

    &:after {
      content: "";
      top: -17px;
      left: -3px;
      width: 18px;
      height: 18px;
      position: absolute;
      display: block;
      background: #222222;
      border: 1px solid #222222;
      border-radius: 50%;
    }
  }

  &:after {
    content: "";
    top: -17px;
    left: -3px;
    width: 18px;
    height: 18px;
    position: absolute;
    display: block;
    background: #F0F0F0;
    border: 1px solid #E5E5E5;
    border-radius: 50%;
  }
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: transparent;

  &:checked {
    background-color: #1B3B90;

    &:before {
      content: "";
      height: 10px;
      width: 6px;
      display: inline-block;
      transform: rotate(45deg) translate(-9px, -13px);
      border-bottom: 1.5px solid #ffffff;
      border-right: 1.5px solid #ffffff;
      position: absolute;
      z-index: 100;
    }

    &:after {
      content: "";
      top: -17px;
      left: -3px;
      width: 18px;
      height: 18px;
      position: absolute;
      display: block;
      background: #222222;
      border: 1px solid #222222;
      border-radius: 4px;
    }
  }

  &:after {
    content: "";
    top: -17px;
    left: -3px;
    width: 18px;
    height: 18px;
    position: absolute;
    display: block;
    background: #F0F0F0;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    opacity: 0;
  }
}

.question-us-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;

  a {
    background: #42843E;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    width: 220px;
  }

}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  footer .phone::before {
    content: none;
    width: 0;
  }

  footer .mail::before {
    content: none;
    width: 0;
  }

}