@font-face {
  font-family: 'SF Compact Display Bold';
  font-display: swap;
  src: url('assets/fonts/SFCompactDisplay-Bold.eot');
  src: url('assets/fonts/SFCompactDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SFCompactDisplay-Bold.woff2') format('woff2'),
  url('assets/fonts/SFCompactDisplay-Bold.woff') format('woff'),
  url('assets/fonts/SFCompactDisplay-Bold.ttf') format('truetype'),
  url('assets/fonts/SFCompactDisplay-Bold.otf') format('opentype'),
  url('assets/fonts/SFCompactDisplay-Bold.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'SF Compact Display Regular';
  font-display: swap;
  src: url('assets/fonts/SFCompactDisplay-Regular.eot');
  src: url('assets/fonts/SFCompactDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SFCompactDisplay-Regular.woff2') format('woff2'),
  url('assets/fonts/SFCompactDisplay-Regular.woff') format('woff'),
  url('assets/fonts/SFCompactDisplay-Regular.ttf') format('truetype'),
  url('assets/fonts/SFCompactDisplay-Regular.otf') format('opentype'),
  url('assets/fonts/SFCompactDisplay-Regular.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}


$primary_font: 'SF Compact Display Bold', sans-serif;
$secondary_font: 'SF Compact Display Regular', sans-serif;
$text_font: 'SF Compact Display Regular', sans-serif;

$color_black: #000000;
$color_white: #ffffff;