
.gallery-slide-block {
  margin-left: -10px;
  margin-right: -10px;
}

.gallery-slide {
  position: relative;
  width: 100%;
  z-index: 10;
  padding: 5px 0;
  overflow: hidden;
}

.gallery-slide .gallery-slide-wrap {
  padding: 0;
}

.gallery-block-img:hover .icon,
.gallery-block-img--big:hover .icon  {
  opacity: 1;
}

.gallery-slide img {
  visibility: hidden;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.gallery-slide img.loaded {
  visibility: visible;
}

.gallery-block:nth-child(even) div:first-child,
.gallery-block:nth-child(odd) div:last-child {
  order: 1;
}

.gallery-block:nth-child(even) div:nth-child(2),
.gallery-block:nth-child(odd) div:nth-child(2) {
  order: 2;
}

.gallery-block:nth-child(even) div:last-child,
.gallery-block:nth-child(odd) div:first-child {
  order: 3;
}

.gallery-block {
  display: flex;
  float: left;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-slide .shadow {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.gallery-block-img {
  padding: 5px;
  width: 50%;
  position: relative;
  overflow: hidden;
}

.gallery-block-img--big {
  padding: 5px;
  float: left;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.gallery-block-img:hover .shadow,
.gallery-block-img--big:hover .shadow {
  opacity: 0.85;
}

.gallery-block-img:hover img,
.gallery-block-img--big:hover img {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.15);
  //transform: scale(1.15);
  filter: grayscale(0);
}

.gallery-slide .link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery-block-img--big:hover img {
  //transform: scale(1.08);
}

.gallery-slide-controls {
  top: 50%;
  position: absolute;
  width: 100%;
  display: none;
}

.gallery-slide:hover .gallery-slide-controls {

}

.gallery-slide-controls button {
  position: absolute;
  margin: 0 15px;
  padding: 0;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: transparent;
  box-shadow: 1px 1px 20px rgba(0,0,0,0.35);
  cursor: pointer;
  outline: none;
}

.gallery-slide-controls button::after {
  content: "";
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

.gallery-slide-controls button:first-child {
  left: 0;
}

.gallery-slide-controls button:first-child::after {
  transform: rotate(135deg) translate(0, -3px);
  -webkit-transform: rotate(135deg) translate(0, -3px);
}

.gallery-slide-controls button:last-child {
  right: 0;
}

.gallery-slide-controls button:last-child::after {
  transform: rotate(-45deg) translate(-2px, 0);
  -webkit-transform: rotate(-45deg) translate(-2px, 0);
}