@import "fonts";

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(69px);
    -ms-transform: translateY(69px);
    transform: translateY(69px)
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
}

#gdpr-consent {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 9001;
  background: #fff;
  animation-duration: .8s;
  -webkit-animation-duration: .8s;
  -moz-animation-duration: .8s;
  -o-animation-duration: .8s;
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  font-family: $text_font;
  box-shadow: 0 0.015px 5px 0 rgba(0,0,0,0.24);
}

#gdpr-consent .cc-invisible {
  transition: .5s;
  transform: translateY(69px)
}

.cc-compliance {
  float: right;
  max-width: 15%;
  padding: 20px
}

.cc-dismiss {
  position: relative;
  padding: 8px 18px;
  display: block;
  cursor: pointer;
  font-size: 15px;
  background: #506EBE;
  background-position: center;
  transition: background 0.8s;
  float: none;
  margin: 0;
  text-transform: none !important;

  &:hover {
    color: #fff !important;
    background: #506EBE;
  }
}

.cc-message {
  max-width: 85%;
  font-size: 16px;
  font-family: $text_font;
  float: left;
  color: #000;
  padding: 20px;
  text-align: left;
  width: 100%;

  a {
    color: #506EBE !important;
  }

  p, a {
    font-size: 16px;
    font-family: $text_font;
    margin: 0;
  }
}

@media only screen and (max-width: 990px) {
  .cc-message, .cc-compliance {
    max-width: 100%;
  }
}