@import "fonts";

.header {
  z-index: 99999;
  position: relative;
  max-width: 1860px;
  width: 100%;
  margin: auto;

  .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
  }

  .logo-wrapper {
    position: relative;
    display: inline-block;
    margin: auto 50px auto 0;

    a {
      display: block;
    }

    img {
      padding: 15px 0;
    }
  }

  .logo-text {
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
    display: inline-block;
    margin: auto;
    height: 50px;
    position: relative;
    transform: translate(15px, 2px);
  }

  .lang {
    position: relative;
    margin: auto 0;
  }

  .contacts {
    margin: auto 0;
    padding: 23px 0;

    a {
      margin: auto 0;
      width: 40px;
      display: inline-block;

      &:hover::before {
        content: "";
        filter: brightness(0) saturate(100%) invert(75%) sepia(70%) saturate(6405%) hue-rotate(205deg) brightness(80%) contrast(81%);
      }
    }
  }

  .navigation {
    margin: auto;
    width: auto;
    position: relative;
    background: transparent;
    display: inline-block;

    .current_page_item a {
      color: #506EBE;

      &::after {
        content: "";
        border-top: 3px solid #506EBE;
        top: -34px;
        width: 100%;
        position: absolute;
        left: 0;
      }
    }

    ul {
      padding: 30px 10px;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      text-align: center;
      z-index: 100;

      li {
        margin: 0 25px 0 25px
      }

      li:last-child {
        border: none;
      }

      li a {
        font-family: $primary_font;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #222222;
        padding: 20px 0;

        &:hover {
          color: #506EBE;
        }

        &:hover::after {
          content: "";
          border-top: 3px solid #506EBE;
          top: -34px;
          width: 100%;
          position: absolute;
          left: 0;
        }

      }

      li.menu-item-disabled > a {
        pointer-events: none;
        text-decoration: none;
      }

      li {
        list-style: none;
        display: inline-block;
        position: relative;
      }
    }
  }
}

.front-header {
  .mobile-menu {
    top: 0;
  }
}

.mobile-menu {
  background: url(assets/images/menu.svg) 100% no-repeat;
  width: 20px;
  height: 20px;
  position: relative;
  display: none;
  z-index: 100;
  top: 26px;
}

.mobile-header {
  position: fixed;
  width: 100%;
  background: $color_white;

  .mobile-menu {
    top: 30px !important;
    right: 10px;
  }

  .navigation .current_page_item a::after {
    top: unset;
  }

  .navigation ul li a:hover::after {
    top: unset !important;
    bottom: 0 !important;
  }

  .navigation ul.menu {
    text-align: left;
    background: $color_white;
    right: 0;
    left: 0;
    padding: 30px 20px;
    display: block !important;
    position: fixed;
    min-height: 100vh;

    li.menu-item-has-children {
      &::after {
        content: "" !important;
        right: 20px !important;
        position: absolute !important;
      }

      &:hover:after {
        content: '';
        transform: rotate(180deg) translate(0px, 20px);
      }

    }

    li.current-menu-item a{

      &:after {
        bottom: -5px;
      }

    }

    li {
      display: block;
      background: transparent !important;
      z-index: 10000;
      box-shadow: none !important;
      padding: 5px 5px;

      a {
        color: $color_black !important;

        &:hover {
          color: $color_black !important;
        }
      }

      &:hover ul.sub-menu {
        display: inline-block;;
      }

      ul.sub-menu {
        display: none;
        position: relative;
        margin-top: -10px;
        top: 0;
        box-shadow: none !important;
        background: transparent;
        padding: 20px 20px 0 20px;

        li {
          display: inline-block;
          text-align: left;
          max-width: unset;
          padding: 0;
        }

        li:after {
          content: none !important;
        }

        ul.sub-menu {
          display: none;
          &:after {
            all: unset;
            content: "";
            margin: 0;
            right: 0 !important;
            top: 8px !important;
            position: absolute !important;
            filter: none !important;
          }
        }

        li.menu-item-has-children:hover ul.sub-menu {
          display: block;
        }

      }
    }
  }
}

#wpadminbar .quicklinks {
  overflow: hidden;
}