
@media only screen and (max-width: 1600px) {

  .tvarumas .column-block-3 .column-2 {

    p {
      max-width: unset;
    }

    .text-wrapper, .logos-wrapper {
      width: 100%;
    }

  }

  .tvarumas .column-block .content {
    margin-top: 30px;
  }

}

@media only screen and (max-width: 1530px) {

  .header .navigation ul li {
    margin: 0 8px 0 8px;
  }

}

@media only screen and (max-width: 1400px) {

  .header .contacts {
    margin: auto 0 auto auto;
  }

}

@media only screen and (max-width: 1288px) {

  .tvarumas {

    .column-block-3 {
      .column {
        width: 100% !important;
      }
    }

    .column-block {
      .column {
        width: 100%;
      }

      .content {
        margin-top: 30px;
      }

      .content, .text {
        max-width: unset;
      }

    }

  }

  .header .navigation {
    width: unset;
    order: 3;
    padding: 0 20px;
    margin: auto 0;

    ul {
      li a, li:first-child a {
        padding: 5px 0 5px 0;
      }
    }
  }

  .navigation {
    .primary-menu {
      display: none;
      background: #ffff;

      ul {
        display: inline-block;

        li {
          width: 100%;
          text-align: left;
          display: inline-block;
        }
      }
    }

    .mobile-menu {
      display: block;
    }

  }

  .mobile-header {

    .primary-menu {
      display: block !important;
    }

    .navigation {
      width: 100%;
      right: 20px;
      z-index: 100;
      top: 0;
      position: absolute;
    }

    .mobile-menu {
      display: block;
      position: absolute;
      filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(0%) hue-rotate(57deg) brightness(102%) contrast(104%);
    }

  }

}

@media only screen and (max-width: 1285px) {

  .inner-header {

    .contact-number {
      padding-left: 0;
      padding-right: 0;

      a {
        padding: 0;
      }
    }

    .navigation {
      margin: 0 !important;
      order: 5;

      .primary-menu {
        display: none;
        background: #ffff;
        position: fixed;
        left: 0;
        right: 0;

        ul {
          display: inline-block;

          li {
            width: 100%;
            text-align: left;
            display: inline-block;
            margin: 0;
          }
        }
      }

      .mobile-menu {
        display: block;
      }

    }

  }

}

@media only screen and (max-width: 1350px) {

  .logo-wrapper img {
    width: 150px;
    height: auto;
  }

}

@media only screen and (max-width: 1200px) {

  .front-content .post-container .col-xl-6 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .slide-left, .slide-right {
    max-width: 50%;
  }

}

@media only screen and (max-width: 1080px) {

  .header {

    .navigation {
      margin: auto 0;
    }

  }

  .slider {

    h2 {
      width: unset;
      max-width: 600px;
    }

    p {
      max-width: unset;
    }
  }

}

@media only screen and (max-width: 960px) {

  .column-1, .column-2 {
    width: 100%;
  }

}

@media only screen and (max-width: 900px) {

  footer {

    ul {
      padding: 20px 0 0 0;
    }

    li {
      width: 25%;
      margin-bottom: 25px;
      padding: 0 25px 0 0 !important;

      ul li {
        margin-bottom: 25px;
      }
    }
  }

}

@media only screen and (max-width: 800px) {

  .header .logo-wrapper {
    margin-right: 0;
  }

  .page-wrap {

    .title {
      margin-bottom: 15px;
      font-size: 60px;
    }

    .subtitle {
      max-width: unset;
      margin: 10px 0;
      display: block;
    }

  }

  footer ul {
    justify-content: flex-start;
    padding-left: 0;

    li {
      padding: 10px 0;
    }
  }

  .header .logo-wrapper img {
    max-width: 150px;
  }

  .header .logo-text {
    font-size: 13px;
    width: 120px;
    transform: translate(0px, 12px);
  }

  .header .navigation {
    padding: 0;
  }

}

@media only screen and (max-width: 700px) {

  .contact-page .form-wrap {
    .col-1, .col-2 {
      width: 100%;
    }
  }

  .header .info-wrap {
    position: relative;
  }

  footer {

    .menu li {
      padding: 0 5px 0 0;
    }

    ul {
      li {
        width: 100%;
        margin-bottom: 5px;
      }

      ul {
        margin: 0;

        li {
          display: inline-block;
          padding: 0 5px;
          width: auto;

          a {
            width: auto;
            display: inline-block;
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 600px) {

  .page-header h1 {
    font-size: 45px;
  }

  .inner-page .columns-block-2 {
    padding: 0 0 10px 0;
  }

  .inner-page .carousel .carousel-slide .slider-title {
    font-size: 36px;
  }

  .inner-header {

    .header-logo {
      display: block;
      margin: auto 0;

      h2 {
        padding: 0;
        font-size: 18px;
      }
    }
  }

  .header .logo-wrapper img {
    display: block;
    max-width: 100px;
  }

  .header .logo-text {
    transform: none;
    font-size: 10px;
    width: 120px;
    display: inline-block;
    height: 0;
    margin-top: -12px;
  }

  html .sticky-header {

    .logo-wrapper .logo {
      margin: auto;
    }

    .navigation {
      margin: auto !important;
      order: unset;
    }

    .search {
      margin: auto !important;
      order: unset;
    }

    .nav-icon {
      order: unset;
      margin: auto;
    }

  }

}

@media only screen and (max-width: 500px) {

  .header .wrap {
    padding: 0 10px;
  }

}

@media only screen and (max-width: 460px) {

  .header .logo-wrapper {
    max-width: 100px;
  }

  .inner-header {

    .navigation {
      margin: auto 0 !important;

      .mobile-menu {
        top: -2px;
        right: 0;
      }

    }

    .contact-number {
      padding-top: 0;
      width: 60%;
    }

  }

}