@import "fonts";

.lang {
  padding: 20px 0;

  select {
    display: none;
  }

  .select-hide {
    display: none;
  }

  .select-selected:hover {
    color: #506EBE;

    &:before, &:after {
      filter: brightness(0) saturate(100%) invert(50%) sepia(11%) saturate(5168%) hue-rotate(198deg) brightness(80%) contrast(82%);
    }
  }

  .select-selected:before {
    content: "";
    background: url(assets/images/globe.svg) 100% no-repeat;
    height: 19px;
    width: 20px;
    display: inline-block;
    transform: translate(-10px, 3px);
  }

  .select-selected:after {
    position: absolute;
    content: "";
    top: 16px;
    right: 12px;
    width: 8px;
    height: 5px;
    background: url('assets/images/dropdown.svg') 100% no-repeat;
  }

  .select-selected .select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 8px;
  }

  .select-items div, .select-selected {
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
    padding: 5px 25px 5px 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    width: 85px;
    margin-top: -5px;
  }

  .same-as-selected {
    display: none;
  }

  .select-items {
    div {
      padding-left: 35px;
      border-bottom: 1px solid #F1F7FF;
      margin-top: 0;
    }

    div:last-child {
      border: none;
    }
  }

  .select-items div:hover {
    color: #506EBE;
  }

  .select-arrow-active {
    background: #FFFFFF;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .select-items {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0), 0 5px 10px rgba(0,0,0,0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 99;
    width: 85px;
  }

  .select-hide {
    display: none;
  }
}

.selection {

  select {
    display: none;
  }

  .select-hide {
    display: none;
  }

  .select-selected {

    &:after {
      position: absolute;
      content: "";
      top: 25px;
      right: 15px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #000 transparent transparent transparent;
    }

    .select-arrow-active:after {
      border-color: transparent transparent #fff transparent;
      top: 8px;
    }
  }

  .select-items div, .select-selected {
    font-family: $text_font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #222222;
    background: #EEEEEE;
    border-radius: 4px;
    padding: 15px 38px 15px 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
  }

  .same-as-selected {
    display: none;
  }

  .select-items {
    position: absolute;
    background: #f6f6f6;
    border-radius: 3px;
    z-index: 999999;
    box-shadow: 0 10px 20px rgba(0,0,0,.15);
    div {
      opacity: .8;
      padding: 10px 0 10px 16px;
      width: 315px;
      &:hover {
        opacity: 1;
        background: #a6aaba3d;
      }
    }
  }

  .select-arrow-active {
    color: #000000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}