.statistics{
  padding: 120px 0 100px;
  max-width: 1200px;
  margin: 0 auto;
}

.statistics-info{
  max-width: 630px;
  position: absolute;
  top: 0;
  left: 0;

  h2{
    font-family: "SF Compact Display Bold",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
  }

  p{
    color: #555;
  }
}

.statistics-chart{
  margin-bottom: 60px;
  position: relative;
  padding-top: 40px;
}

#statistics-chart{
  height: 650px;
}

.statistics-table{
  border: 10px solid #F1F7FF;
  padding: 40px;

  h4{
    font-family: "SF Compact Display Bold",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.02em;
    margin-bottom: 30px;
  }

  table{
    width: 100%;

    th{
      border-bottom: 2px solid #EEEEEE;
      font-family: "SF Compact Display Bold",sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #222;
      padding: 10px 80px 10px 15px;
      text-align: right;
    }

    td:first-child {
      padding: 4px 15px;
      text-align: left;
    }

    td{
      text-align: right;
      padding: 4px 80px 4px 0;
      border-top: 1px solid #EEEEEE;
      color: #555;
      white-space: nowrap;

      &.th{
        padding: 6px 17px 6px 0;
        font-family: "SF Compact Display Bold",sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: -0.01em;
        color: #222;
      }
    }
  }
}

@media only screen and (max-width: 1199px) {

  .statistics-table {
    padding: 30px;
  }

  .statistics-info h2 {
    margin-bottom: 30px;
  }

  .statistics-table h4 {
    margin-bottom: 20px;
  }

}

@media only screen and (max-width: 960px) {

  .statistics {
    padding: 0 0 50px;
  }

  .statistics-info {
    max-width: 100%;
    position: static;
    padding-bottom: 20px;
  }

  .statistics-table {
    overflow-x: auto;
  }

}