.terminal{
  padding: 20px 0 0 ;
}

.terminal-image{
  img{
    max-width: 100%;
    height: auto;
  }
}

.terminal-info{
  margin: -280px 0 180px 0;

  ul{
    padding: 0;
    margin: 0;
    text-align: center;

    li{
      display: inline-block;
      padding: 0 30px;
      max-width: 210px;
      box-sizing: content-box;
      vertical-align: top;
      min-height: 155px;
      border-left: 1px solid #D6E1F4;
      margin: 0 0 20px;

      &:first-child{
        border: none;
      }

      h2{
        color: #B4C5E7;
        font-family: "SF Compact Display Bold",sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: -0.02em;
        white-space: nowrap;
        margin: 0;
      }

      p{
        color: #555;
      }
    }
  }
}

@media only screen and (max-width: 1499px) {

  .terminal-info {
    margin: -240px 0 120px 0;
  }

}

@media only screen and (max-width: 1340px) {

  .terminal-info {
    margin: -200px 0 80px 0;
    padding-bottom: 20px;
    background: #F1F7FF;
  }

}

@media only screen and (max-width: 1199px) {

  .terminal-info {
    margin: -140px 0 80px 0;
  }

}

@media only screen and (max-width: 960px) {

  .terminal-info {
    margin: 40px 0 0px 0;
    background: #fff;
  }

}

@media only screen and (max-width: 599px) {

  .terminal-info ul li {
    display: block;
    padding: 0;
    max-width: 100%;
    border: none;
    min-height: 50px;
    margin: 0 0 30px;  
  }

}