@import "fonts";

.wp-block {
  max-width: 900px;
}

.timeline-track, .image-slide-track {
  overflow: hidden;
}

.timeline-wrap, .image-slide-wrap {
  padding: 0;
}

.carousel-track, .image-slide-track {
  overflow: hidden;
}

.carousel-wrap, .image-slide-wrap {
  padding: 0;
}

.pause-slide {

  button {
    background: url("assets/images/pause.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 35px;
    width: 35px;
    display: block;
    position: absolute;
    right: 10px;
    margin: auto;
    top: 10px;
    border: none;
    z-index: 100;
    outline: none;
  }

  .paused {
    background: url("assets/images/play.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 38px;
    width: 34px;
  }

}

.carousel-block {
  margin: auto;
  max-width: 1860px;
  position: relative;
}

.slide-arrows {
  position: absolute;
  width: 100%;
  top: 40%;

  button {
    cursor: pointer;
    background: transparent;
    border: none;
    width: 60px;
    height: 100px;
    z-index: 1000;
    outline: none !important;
  }

  button:first-child {
    position: absolute;
    left: 0;

    &:hover {

      &::before {
        transform: rotate(-40deg);
        margin-top: 3px;
      }

      &::after {
        transform: rotate(40deg);
      }

    }

    &::before {
      transform: rotate(-60deg);
      margin-top: -8px;
      content: '';
      position: absolute;
      background: #fff;
      height: 2px;
      width: 50px;
      top: 50%;
      left: 5px;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

    &::after {
      margin-top: 2.2rem;
      transform: rotate(60deg);
      content: '';
      position: absolute;
      background: #fff;
      height: 2px;
      width: 50px;
      top: 50%;
      left: 5px;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

  }

  button:last-child {
    position: absolute;
    right: 0;

    &:hover {

      &::before {
        transform: rotate(40deg);
        margin-top: 3px;
      }

      &::after {
        transform: rotate(-40deg);
      }

    }

    &::before {
      transform: rotate(60deg);
      margin-top: -8px;
      content: '';
      position: absolute;
      background: #fff;
      height: 2px;
      width: 50px;
      top: 50%;
      left: 5px;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

    &:after {
      transform: rotate(-60deg);
      margin-top: 2.2rem;
      content: '';
      position: absolute;
      background: #fff;
      height: 2px;
      width: 50px;
      top: 50%;
      left: 5px;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

  }

}

.glide__bullets {
  position: absolute;
  bottom: 0;
  padding: 20px 5px 40px 0;
}

.glide__bullet {
  width: 40px;
  background: #506EBE;
  border: none;
  height: 5px;
  cursor: pointer;
  outline: none !important;

  &:hover {
    background: #506EBE;
  }
}

.glide__bullet--active {
  background: #ffffff;
}

.inactive-slide-button {
  opacity: .1;
  user-select: none;
  pointer-events: none;
}

.timeline-block {
  padding: 100px 0 120px 0;
  background: #F1F7FF;

  .wrap {
    max-width: 1530px;
    margin: auto 0 auto auto;
    padding: 0;
  }

  .timeline-slide-0 {

    .timeline-content {
      margin-left: 0;
    }

    .time li:first-child {
      opacity: 0;
    }

  }

  .timeline-content {
    margin-left: 30px;
  }

  h3 {
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #222222;
    display: inline-block;
    margin-bottom: 30px;
  }

  div[data-glide-el="controls"] {
    display: inline-block;
    height: 60px;
    margin: auto 0;

    button {
      border: 2px solid #222222;
      box-sizing: border-box;
      border-radius: 4px;
      width: 60px;
      height: 40px;
      outline-color: #222222 !important;
      background: transparent;
    }

    #image-slide-next {
      span {
        background: url('assets/images/slide-arrow.svg') 100% no-repeat;
        height: 12px;
        width: 7px;
        display: block;
        margin: auto;
        transform: translate(3px, 0px);
      }
    }

    #image-slide-prev {
      span {
        background: url('assets/images/slide-arrow.svg') 100% no-repeat;
        height: 12px;
        width: 7px;
        display: block;
        margin: auto;
        transform: rotate(180deg) translate(3px, 0px);
      }
    }

  }

  .controls {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1280px;
  }

}

.timeline {
  padding: 0;
  margin: 0;

  .timeline-wrap {
    margin: 0;
    display: flex;
  }

  .glide__slide--active {

    .wrap-content .time .year {
      height: 190px !important;
      margin: -171px 24px 0 0 !important;
      transition: .3s;

      h5 {
        font-size: 36px;
        left: -57px;
      }
    }
  }

  .timeline-slide {
    background-repeat: no-repeat;
    background-size: cover;
    list-style: none;
    position: relative;
    border-bottom: 3px solid #D6E1F4;
    float: left;

    .wrap {
      padding: 0 40px;
    }

    p {
      font-family: $text_font;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 160%;
      letter-spacing: -0.01em;
      color: #555555;
      width: 200px;
      white-space: pre-wrap;
    }

    .wrap-content {
      min-height: 440px;
      min-width: 305px;

      img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin: 15px 0;
      }
    }

    .time {
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;
      padding: 0;

      h5 {
        font-family: $primary_font;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
        text-align: right;
        letter-spacing: -0.01em;
        color: #B4C5E7;
        position: absolute;
        transform: rotate(-90deg);
        top: 10px;
        left: -36px;
      }

      .first-year {
        height: 190px !important;
        margin: -171px 24px 0 0 !important;

        h5 {
          font-size: 36px;
          left: -60px;
        }
      }

      .year {
        height: 100px;
        width: 3px;
        margin: -80px 24px 0 0;
        transform: translate(10px, 0px);
      }

      li {
        background: #D6E1F4;
        width: 20px;
        height: 3px;
        transform: rotate(90deg);
        display: inline-block;
        margin: auto;
      }

    }

  }

}

.carousel {
  padding: 0;
  margin: 0;

  .video-frame {
    max-width: 360px;
    max-height: 200px;
    height: auto;
    width: auto;

    iframe {
      width: auto;
      height: auto;
    }
  }

  .video {
    max-height: 1045px;

    iframe {
      box-sizing: border-box;
      height: 56.25vw;
      left: 50%;
      min-height: 100%;
      min-width: 100%;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      width: 177.77777778vh;
    }

    .mobile-video {
      display: none;

      iframe, video {
        display: block;
        box-sizing: border-box;
        height: 100%;
        left: 50%;
        top: 50%;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: auto;
      }

    }
    .mobile-image {
      display: none;
      background-position: center;
    }
  }

  strong {
    font-family: $primary_font;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.1em;
    margin-top: -40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    display: block;
  }

  .video {

    .slide-background {
      z-index: 10;
    }

    .wrap {
      .wrap-content {
        position: absolute;
        top: 0;
        padding: 120px 0 0 40px;
        padding-left: 0;
        z-index: 100;
      }
    }
  }

  .carousel-wrap {
    margin: 0;
    display: flex;
  }

  .carousel-slide {
    background-repeat: no-repeat;
    background-size: cover;
    list-style: none;
    position: relative;
    height: calc(100vh - 85px);
    min-height: 700px;
    max-height: 860px;
    float: left;
    width: 100%;

    .wrap {
      padding: 0 40px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #115BA5 0%, rgba(17, 91, 165, 0) 79.74%);
      opacity: 0.15;
    }

  }

  .slide-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(105.67deg, #000E34 19.94%, rgba(0,14,52,0) 50%);
      opacity: 0.7;
    }
  }

  .btn {
    margin-top: 40px;
    padding: 24px 35px;
    word-break: break-word;
  }

  .wrap-content {
    position: relative;
    padding: 120px 0;
    max-width: 580px;
  }

  .text-content-wrap {
    position: relative;
  }

  .h1 {
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    max-width: 408px;
    display: inline-block;
  }

  h3 {
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
  }

  .text {
    display: block;
    vertical-align: inherit;
    max-width: 540px;
    margin-top: 12px;
  }

  p {
    font-family: $text_font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
  }

}

@keyframes openDialog {
  from {
    min-width: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
  }
  to {
    min-width: 136px;
    width: 100%;
    padding: 1px 12px;
  }
}

.text-wrap {
  position: relative;
  max-width: 1480px;
  margin: auto;

  .products-in {
    display: inline-block;
    position: absolute;
    right: 0;
    transform: translate(-50px, -20px);

    span {
      font-family: $primary_font;
      font-style: normal;
      font-weight: normal;
      font-size: 160px;
      line-height: 120%;
      text-align: right;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #DDDDDD;
    }

    h3 {
      font-family: $primary_font;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #CCCCCC;
      margin: 0;
      display: inline-block;
      width: 200px;
      transform: translate(10px, -65px);
    }

  }
}

.info-block {
  background: #F5F5F5;
  padding: 40px 0;

  .info-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 20px 0;

    li {
      display: inline-block;
      width: 25%;
      max-width: 290px;
    }
  }

  h4 {
    margin: 15px 0 12px 0;
  }

}

.info-tabs-block {
  padding: 80px 0;
  overflow: hidden;

  .wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .column-1 {
    width: 60%;
    padding: 0;
    display: block;
  }

  .column-2 {
    width: 40%;
    padding: 0;
    display: block;

    .tab-content {
      margin-bottom: 40px;

      &:after {
        content: "";
        position: absolute;
        right: 60px;
        bottom: 0;
        background: url('assets/images/line.svg') 100% no-repeat;
        height: 146px;
        width: 415px;
        z-index: -1;
      }

    }
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  .tabs {
    position: absolute;
    bottom: 0;

    li.active .tab {
      border-bottom: 5px solid #42843E;
      padding-bottom: 20px;
    }

    li {
      padding: 15px 25px 15px 0;
      cursor: pointer;
    }

    img {
      display: inline-block;
    }

    h3 {
      display: inline-block;
      width: 120px;
      vertical-align: bottom;
      margin: 0 0 0 10px;
    }

  }

  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
  }

  .h1 {
    margin-bottom: 30px;
  }

  .tab-content {

    li.tab-open {
      display: block;
    }

    li {
      display: none;
      max-width: 540px;
    }

  }

}

@keyframes video-play-animate {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes video-text-animate {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.columns-block-2 {
  overflow: hidden;
  margin: 0;
  padding: 40px 0;

  .wrap {
    max-width: 1200px;
    padding: 0;
  }

  .full {
    margin: auto;
    margin-top: 10px;
  }

  .video-image-animate {

    &:hover {

      .play {
        transform: scale(1.5);
        bottom: 0;
        transition: 1s;
      }

      p {
        transform: translate(0px, 1000px);
        transition: 0.75s;
      }

    }

    .play {
      animation: 1s video-play-animate;
      transition: 1s;
    }

    p {
      animation: 1s video-text-animate;
      transition: 0.75s;
    }

  }

  .video-image {
    max-width: 100%;
    width: 360px;
    height: 200px;
    background: url('assets/images/video_image.png') 100% no-repeat;
    margin: 0 0 0 auto;
    position: relative;

    .play {
      background: url('assets/images/play.svg') 100% no-repeat;
      height: 60px;
      width: 60px;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      bottom: 20%;
    }

    a {
      display: block;
      height: 100%;
      width: 100%;
    }

    p {
      font-family: $primary_font;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 20%;
      text-align: center;
    }
  }

  .column-1 {
    width: 30%;

    .content {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .column-2 {
    width: 70%;
    padding: 0 0 0 20px;
    position: relative;

    .content {
      display: block;
      max-width: 850px;
      margin: auto;
      margin-left: 0;
      height: auto;
    }
  }

  h1 {
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #B4C5E7;
  }

  p {
    color: #555555;
    margin: auto;
  }

}

.column-block {
  overflow: hidden;
  margin: 0;

  .wrap {
    transform: translate(-102%, 0px);
  }

  .row {
    flex-direction: row;
  }

  .column-1 {
    width: 45%;

    .text {

      ul {
        padding: 0;
      }

      li {
        list-style: none;
        padding-left: 20px;
        position: relative;
        font-family: $text_font;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: -0.01em;
        color: #555555;

        &::before {
          content: '';
          background: url('assets/images/bullet.svg') 100% no-repeat;
          font-weight: bold;
          display: inline-block;
          position: absolute;
          left: 0;
          height: 25px;
          width: 8px;
          transform: translate(0px, 2px);
        }
      }

    }

  }

  .column-2 {
    width: 55%;
    padding-right: 0;
  }

  .column-1, .column-2 {
    display: flex;
    flex-direction: column;
  }

  .column-2 {
    img {
      width: 100%;
      height: auto;
    }
  }

  h2 {
    margin-bottom: 40px;
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #222222;
  }

  .content {
    margin: auto 0 auto auto;
    max-width: 600px;
    padding-left: 10px;
    padding-top: 10px;

    p {
      color: #555555;
    }

    .h1 {
      color: #222222;
    }

    img {
      float: none;
    }
  }

  .logos {
    width: 21%;
    display: inline-block;
    vertical-align: top;

    img {
      margin-bottom: 18px;
    }
  }

  .text {
    width: auto;
    max-width: 340px;
    display: inline-block;
  }

}


.column-blocks-2[data-iteration="1"],
.column-blocks-2[data-iteration="3"] {
  margin-top: 60px;

  .column-1 {

    img {
      margin: auto 0 auto 0;
    }
  }
}

.column-blocks-2[data-iteration="2"] {
  margin-bottom: 60px;

  .wrap {
    transform: translate(100%, 0);
  }

  .column-1 {
    order: 2;

    img {
      margin: auto 0 auto 0;
    }
  }
}

.contacts-block {

  a, p {
    font-family: $text_font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -0.01em;
    color: #555555;
  }

  a {
    color: #1B3B90;

    &:before {
      filter: brightness(0) saturate(100%) invert(11%) sepia(72%) saturate(4096%) hue-rotate(224deg) brightness(100%) contrast(85%);
      transform: translate(0px, 4px);
    }
  }

  .leaflet-control-attribution a {
    font-size: 14px;
  }

  strong {
    color: #1B3B90;
  }

  .column-1 {
    width: 33.3%;
  }

  .column-2 {
    width: 66.6%;
  }

  .wrap {
    max-width: 1220px;
  }

  .map-wrap {
    margin: 0 0 80px 0;
  }

  .contact-form {

    .row {
      margin-left: -5px;
      margin-right: -5px;
    }

    .column-1 {
      width: 43%;
      padding: 0 5px;
    }

    .column-2 {
      width: 57%;
      padding: 0 5px;
    }

    span.wpcf7-list-item {
      margin: 0;
    }

    .wpcf7-not-valid {
      border: 1px solid #f00 !important;
    }

    .wpcf7-validation-errors {
      color: #f00 !important;
    }

    span.wpcf7-not-valid-tip {
      display: none;
    }

    div.wpcf7-response-output {
      display: block;
      border: none;
      margin: 0;
      padding: 0;
    }

    input[type="submit"] {
      background: #1B3B90;
      border-radius: 4px;
      font-family: $primary_font;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
      min-width: 210px;
      width: auto;
    }

    input[type="checkbox"] {
      display: inline-block;
      width: 18px;
      height: 18px;
      transform: translate(0px, 3px);
      margin: 20px 10px 20px 0;
    }

    input, textarea {
      font-family: $text_font;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      letter-spacing: -0.01em;
      color: #222222;
      background: #EEEEEE;
      border: 1px solid #DDDDDD;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 17px 20px;
      max-width: 100%;
      margin-bottom: 6px;
      width: 100%;

      &::placeholder {
        font-family: $text_font;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: -0.01em;
        color: #999999;
      }

    }

  }

}

.animate-block {
  .wrap {
    transform: translate(0, 0) !important;
    transition: .8s;
    overflow: hidden;
  }
}

.animate-block2 {
  .wrap {
    transform: none !important;
    transition: .8s;
  }
}

.column-blocks-2 {
  overflow: hidden;
  max-width: 1200px;
  margin: auto;

  .wrap {
    transform: translate(-100%, 0);
  }

  .column-1, .column-2, .column-3 {
    display: flex;
  }

  h2 {
    margin-bottom: 40px;
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #222222;
  }

  .column-1 {
    width: 50%;
    margin: auto;
    padding: 0;

    img {
      max-width: 580px;
    }
  }

  .column-2 {
    width: 50%;
    margin: auto;
    flex-direction: column;
  }

  .content {
    margin: auto;
    max-width: 570px;

    p {
      color: #555555;
    }

    .h1 {
      color: #222222;
    }

    img {
      float: none;
    }
  }

  img {
    max-width: 100%;
    width: auto;
  }

  h2 {
    margin: 0 0 10px 0;
  }

  h3 {
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
    margin: 0 0 30px 0;
  }

}

.site .column-block-3[data-iteration="1"] {
  margin: 50px 0 0 0;
}

.column-block-3[data-iteration="2"] {
  margin: 0;

  .column-3 {
    transform: translate(0, 60px);
    margin-top: 60px;
  }

}

.column-block-3 {
  overflow: hidden;

  .wrap {
    transform: translate(102%, 0);
  }

  .column-1, .column-2, .column-3 {
    display: flex;
  }

  h2 {
    margin-bottom: 40px;
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #222222;
  }

  h3 {
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
    margin-top: -20px;
    margin-bottom: 30px;
  }

  .column-1 {
    width: auto;
    margin-right: 0;
    margin-left: 0;
    padding: 0;

    img {
      max-height: 630px;
      object-fit: contain;
    }
  }

  .column-2 {
    width: 35%;
    margin: auto 0 auto auto;
    flex-direction: column;
  }

  .column-3 {
    display: flex;
    margin: auto 0 auto auto;
    width: 25% !important;
  }

  li[data-alt="ship"] {

    p {
      width: 127px !important;
    }

    img {
      transform: translate(0px, -120px) !important;
      display: block !important;
    }

  }

  .content {
    margin: auto 0 auto 0;
    max-width: 542px;
    padding-left: 10px;

    p {
      color: #555555;
    }

    .h1 {
      color: #222222;
    }

    img {
      float: none;
    }

    ul {
      padding: 0;
      list-style: none;

      p {
        font-family: $primary_font;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: #222222;
        width: 100px;
        display: inline-block;
      }

      li span:first-child {
        font-family: $primary_font;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #222222;
      }

      img {
        display: inline-block;
        transform: translate(-10px, -60px);
      }

      li:last-child {
        img {
          transform: translate(-18px, -70px);
        }
      }
    }
  }

  img {
    max-width: 100%;
    width: auto;
  }

  .h1 {
    margin: 0 0 20px 0;
  }

}

.image-block {
  overflow: hidden;

  ul {
    padding: 0;
    margin: 0 -20px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li {
      height: 470px;
      width: 33.3%;
      overflow: hidden;
      position: relative;
    }

  }

  .content-wrap {
    margin: 5px;
    position: relative;
  }

  .image-wrap {
    overflow: hidden;

    .image {
      transition: 1s;
    }

    &:hover .image {
      filter: grayscale(0) !important;
      transform: scale(1.1);
      transition: 1s;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background: #1B3B90;
      opacity: 0.4;
      top: 0;
      bottom: 0;
      position: absolute;
      z-index: 10;
    }

    &:hover::after {
      background: transparent;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background: linear-gradient(14.28deg, #000000 12.01%, rgba(0, 0, 0, 0) 63.45%);
      opacity: 0.7;
      position: absolute;
      z-index: 1;
    }


  }

  .image {
    height: 460px;
    background-size: cover;
    filter: grayscale(1);
  }

  .title {
    bottom: 30px;
    left: 45px;
    position: absolute;
  }

  h3 {
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    position: relative;
    z-index: 100;
    max-width: 340px;
  }

  h4 {
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    z-index: 100;
    max-width: 260px;
  }

}

.pdfs-block {
  padding: 80px 0 40px 0;
  background: #F1F7FF;

  .wrap {
    max-width: 1280px;
    padding: 0 40px;
    margin: auto;
    overflow: hidden;
  }

  button {
    cursor: pointer;
  }

  .name {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  div[data-glide-el="controls"] {
    display: inline-block;
    height: 60px;
    margin: auto 0;

    button {
      border: 2px solid #222222;
      box-sizing: border-box;
      border-radius: 4px;
      width: 60px;
      height: 40px;
      outline-color: #222222 !important;
      background: transparent;
    }

    .image-slide-next {
      span {
        background: url('assets/images/slide-arrow.svg') 100% no-repeat;
        height: 12px;
        width: 7px;
        display: block;
        margin: auto;
        transform: translate(3px, 0px);
      }
    }

    .image-slide-prev {
      span {
        background: url('assets/images/slide-arrow.svg') 100% no-repeat;
        height: 12px;
        width: 7px;
        display: block;
        margin: auto;
        transform: rotate(180deg) translate(3px, 0px);
      }
    }

  }

  img {
    width: 70px;
    height: 80px;
  }

  .content {
    width: 100%;
  }

  h3 {
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #222222;
    margin-bottom: 30px;
  }

  p {
    font-family: $text_font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #1B3B90;
    margin: 15px auto;
    max-width: 200px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

    li {
      list-style: none;
      display: block;
      margin: 0 auto;
      text-align: center;
      vertical-align: top;
    }
  }

}

.partners-block {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 50px auto 80px auto;

  .name {
    display: inline-block;
    width: 24%;
    margin: auto auto auto 0;
    float: left;
  }

  img[alt="offset"] {
    transform: translate(0px, -12px);
  }

  .content {
    display: inline-block;
    width: 76%;
    float: left;
    margin: auto;

    img.active-img {
      display: none;
    }

    a:hover {

      img.inactive-img {
        display: none;
      }

      img.active-img {
        display: block;
      }

    }

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }

    li {
      margin: auto;
    }
  }

  h3 {
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #222222;
  }

}

p.phone::before {
  content: "";
  background: url('assets/images/phone.svg') 100% no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  transform: translate(0px, 5px);
  filter: brightness(0) saturate(100%) invert(13%) sepia(0%) saturate(3889%) hue-rotate(354deg) brightness(105%) contrast(102%);
}

p.mail::before {
  content: "";
  background: url('assets/images/mail.svg') 100% no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  transform: translate(0px, 5px);
}

.work-hours::before {
  content: "";
  background: url('assets/images/clock.svg') 100% no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 3px;
  transform: translate(0px, 3px)
}

@media only screen and (max-width: 1860px) {

  .carousel-block {
    overflow: hidden;
  }

}

@media only screen and (max-width: 1565px) {

  body .column-block-3 .column-2 {
    width: 30%;
  }

  .timeline-block {
    overflow: hidden;

    .wrap {
      padding: 0 20px;
      margin: auto;
      max-width: 1240px;

      .timeline-track {
        overflow: visible;
      }
    }
  }

  .timeline .timeline-slide .time {
    margin-left: 30px;
  }

}

@media only screen and (max-width: 1480px) {

  .timeline .timeline-slide .time li:first-child {
    display: none;
  }

}

@media only screen and (max-width: 1390px) {

  body .column-block-3 .column-1 {
    width: 33.3%;
    overflow: hidden;
  }

  .column-block-3 .column-2 .content {
    margin-top: auto;
  }

}

@media only screen and (max-width: 1320px) {

  .slide-arrows {
    display: none;
  }

  footer .wrap {
    padding: 0 10px;
  }

  body .column-block-3 {
    margin: 20px 0;

    .column-1 {
      width: 100%;

      img {
        float: none;
        margin: auto;
      }
    }

    .column-2, .column-3 {
      width: 50% !important;
      margin-top: 30px;
    }

  }

  .column-block .content {
    margin: auto 0 auto 0;
  }

  body .image-block ul li {
    width: 50%;
  }


}

@media only screen and (max-width: 1280px) {

  .columns-block-2 {
    .wrap {
      padding: 0 15px;
    }

    .full {
      font-size: 40px;
    }
  }

}

@media only screen and (max-width: 1200px) {

  .carousel .carousel-slide .wrap, .pdfs-block .wrap {
    padding: 0 20px;
  }

  .image-block .title {
    left: 15px;
  }

  .column-blocks-2 {

    .column {
      width: 100%;
    }

    .column-1 {
      order: 1;
    }

    .column-2 {
      order: 2;
    }

    .column-1 img {
      margin: auto !important;
      margin-bottom: 20px !important;
    }

  }

  .columns-block-2 {

    .column-2 {
      margin-top: 20px;

      .content {
        position: relative;
      }
    }

    .video-image {
      margin: auto;
    }

    .column-1, .column-2 {
      width: 100%;

      .content {
        margin: 0;
      }
    }
  }

}

@media only screen and (max-width: 1080px) {

  .contacts-block {

    .column-1, .column-2 {
      width: 100%;
      padding: 0 10px;
    }

  }

  .column-block {
    margin: 20px 0;

    .column {
      width: 100%;
    }

    .column-1 {
      order: 2;
      margin-top: 30px;
    }

  }

}

@media only screen and (max-width: 980px) {

  .carousel .wrap-content {
    width: 90%;
  }

  .carousel .carousel-slide {
    background-position: center;
  }

  .partners-block .content {
    li {
      width: 50%;
      margin: 15px 0;
    }
  }

}

@media only screen and (max-width: 860px) {

  .columns-block-2 .full {
    font-size: 30px;
  }

}

@media only screen and (max-width: 800px) {

  body .column-block-3 {

    .column-2, .column-3 {
      width: 100%  !important;
    }

    .column-3 .content {
      padding-left: 20px;
    }
  }

  .carousel .carousel-slide {
    max-height: 700px;
  }

  body .column-block-3 {

    .row {
      flex-direction: column;
    }

    .column-1 {
      flex-direction: column;

      img {
        width: 100%;
        min-width: 100%;
        height: auto;
      }
    }


  }

  .column-block {

    .row {
      flex-direction: column;
    }

    .column-2 {
      flex-direction: column;

      img {
        width: 100%;
        min-width: 100%;
        height: auto;
      }
    }

  }

  .column-blocks-2 {
    .row {
      flex-direction: column;
    }

    .column-1 {
      flex-direction: column;

      img {
        min-height: unset;
        height: auto;
        width: 100%;
        min-width: unset;
        object-fit: cover;
      }
    }
  }

}

@media only screen and (max-width: 700px) {

  #map {
    height: 300px !important;
  }

  .contacts-block {

    .map-wrap {
      margin: 20px 0;
    }

    .contact-form {
      .column-1, .column-2 {
        width: 100%;
      }
    }

  }

  .column-blocks-2 {

    h2 {
      font-size: 40px;
    }

    .content {
      width: 100%;
    }

  }

  .tvarumas .partners-block {
    padding: 0 10px;
  }

  .partners-block {
    margin: 50px auto 20px auto;

    .name, .content {
      width: 100%;
    }
  }

  .pdfs-block {
    padding: 40px 0 20px 0;

    ul {
      padding: 0;
    }
  }

  .pdfs-block .wrap {
    padding: 0 10px;
  }

  .carousel .btn {
    margin-bottom: 80px;
  }

}

@media only screen and (max-width: 600px) {

  .columns-block-2 h1 {
    font-size: 50px;
  }

  body .column-block-3 {
    .column {
      width: 100% !important;
    }

    .column-3 {

      .content {
        padding-left: 15px;
      }

      ul {
        display: flex;
        flex-wrap: wrap
      }
    }
  }

  .carousel .wrap-content {
    padding: 20px 0;

    .h1 {
      font-size: 30px;
    }
  }

  body .image-block ul li {
    width: 100%;
  }

  .column-block .logos {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }

}

@media only screen and (max-width: 500px) {

  .glide__bullets {
    padding: 20px 5px 40px 20px;
  }

  .columns-block-2 h1 {
    font-size: 36px;
  }

  .column-block .content {
    padding-left: 0;
  }

  .timeline .timeline-slide .wrap-content {
    min-height: 500px;
  }

  .timeline-block {
    padding: 20px 0 120px 0;
  }

  .timeline-block .controls {
    display: block;
  }

  .tvarumas .column-block-3 .column-2 .logos-wrapper ul li {
    min-width: 100%;
  }

  .columns-block-2 .column-2 {
    padding: 0 0 0 15px;
  }

  .inner-page .carousel .carousel-slide {
    min-height: 400px;
    height: inherit;

    .wrap-content, .text {
      margin: auto;
    }
  }

  .partners-block .content {
    li {
      width: 100%;
      margin: 15px 0;
    }
  }

  .column-block-3 h2, .column-block h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .carousel .carousel-slide {
    max-height: 700px;

    .wrap {
      padding: 0;
    }

  }

  .column-block-3 li[data-alt="ship"] img {
    margin-bottom: -50px;
  }

  .column-block-3[data-iteration="2"] .column-3 {
    margin-top: 40px;
  }

  .carousel .video .wrap .wrap-content {
    padding: 20px 0 0 10px !important;
  }

  .carousel {
    .video {

      .slide-background {
        z-index: 0;
        display: none;
      }

      .wrap {
        padding: 0;
      }

      .wrap-content {
        position: relative !important;
        padding: 20px 0 0 40px !important;
        width: 95%;
        display: none;
      }

      iframe {
        display: none;
      }

      .mobile-video {
        display: block;
      }
    }
  }

}